<main class="login">
  <div class="login__container">
    <h1 class="login__title">Cadastrar-Se</h1>
    <form action="/cadastro" class="login__form" method="POST">
      <input
        name="fullname"
        class="login__input"
        type="txt"
        placeholder="Fullname"
      />
      <span class="login__input-border"></span>
      <input
        name="username"
        class="login__input"
        type="txt"
        placeholder="Username"
      />
      <span class="login__input-border"></span>
      <input
        name="email"
        class="login__input"
        type="email"
        placeholder="e-mail"
      />
      <span class="login__input-border"></span>
      <input
        name="password"
        class="login__input"
        type="password"
        placeholder="password"
      />
      <span class="login__input-border"></span>

      <button class="login__submit">Cadastrar</button>
    </form>
  </div>
</main>