<head><title>SITE - LOGIN</title></head>
<main class="login">
  <div class="login__container">
    <h1 class="login__title">Login</h1>
    <form action="/login" class="login__form" method="POST">
      <input
        name="email"
        class="login__input"
        type="email"
        placeholder="e-mail"
        autofocus
      />
      <span class="login__input-border"></span>
      <input
        name="password"
        class="login__input"
        type="password"
        placeholder="password"
      />
      <span class="login__input-border"></span>

      <button class="login__submit">Login</button>
      <span class="login__input-border"></span>
      <a href="#" class="login__reset">Esqueci a senha!</a>
      <span class="login__input-border"></span>
    </form>
  </div>
</main>